body {
    height: calc(100% - .5rem padding);
    
    background-image: linear-gradient(to right bottom,
    rgba(35, 22, 7, 0.8),
    rgba(54, 165, 255, 0.8)),
    url(/login-page/resources/images/background.jpg);
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 90.39% 93.17%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 90.39% 93.17%, 0% 100%);
    transition: all 2s linear;
    opacity: 0.8;
}

body:hover {
    transition: background-image 2s ;
    animation: backgroundTransform 3s forwards;
    background-image: linear-gradient(to right bottom,
    rgba(35, 22, 7, 0.8),
    rgba(255, 158, 54, 0.8)),
    url(/login-page/resources/images/background.jpg);
    #question-icon { 
        background-color: rgba(255, 158, 54, 0.8);  
    }
    .auth-main-input-label {
        color: rgba(255, 158, 54, 0.8);
    }
    .test-user {
        color: rgba(255, 158, 54, 0.8);
    }
}