.auth-main-box {
    
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    height: 85vh;
    width: calc(100vw - 2rem);
    margin: 1rem;
    
    #question-icon { 
        background-color: rgba(54, 165, 255, 0.8);  
    }
    .auth-main-input-label {
        color: rgba(54, 165, 255, 0.8);
    }
}
.auth-main-box:hover {
   
}
@media screen and (max-height: 570px) {
    .auth-main-box {
        height: 580px;
    }
}