#confirm-button {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 0;
    
    animation: submitButtonHoverOut 1s;
    animation-fill-mode: forwards; 
}
#confirm-button:hover {
    animation: submitButtonHoverIn 1s;
    animation-fill-mode: forwards; 
}
#confirm-button:active {
    border-bottom: solid 0.1rem $color-white;
}
.nav-list-li {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 0;
    
}
.nav-list-li:hover {
    background-color: $color-white;
}
.nav-list-li:active {
    margin-top: 0.5rem;
}