.auth-box {
    position: relative;
    display: flex;
    width: 50rem;
    height: 40rem; 
    border: $color-white solid 0.5rem;
    background-image: linear-gradient(to right bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8));
    background-size: cover;
    background-position: top;
    clip-path: polygon(10% 0%, 100% 0%, 100% 90%, 90% 100%, 0% 100%, 0% 10%);
    
}
.auth-box-header {
    display: block;
    position: absolute;
    color: white;
    width: 80%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.help-box {
    position: absolute;
    display: flex;
    bottom: 0rem;
    
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
}
#question-icon {
    display: block;
    width: 2rem;
    height: 2rem;
    text-align: center;
    border: 0rem;
    background-color: rgba(255, 155, 0, 0.8);
    border-radius: 50%;
    cursor: pointer;
}
.test-user {
    color: rgba(54, 165, 255, 0.8);
    padding-left: .1rem;
    padding-right: .5rem;
}
#help-span {
    display: inline-flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 3s;
    font-size: large;
    color: white; 
    
    height: 2rem;
}

form span {
color: white;
}

.auth-form {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size:x-large;
}
.auth-form label {
    color: white;
}

.auth-main-input {
    margin-bottom: 1.5rem;
    font-size:large;
    font-weight: bold;
    padding-left: 1rem;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    padding-right: 1rem;
    border: solid 0.2rem rgba(119, 119, 119, 0.607);
    &:invalid {
        border: solid 0.2rem rgba(185, 0, 0, 0.83);
    }
    &:focus {
        outline-offset: .1rem;
        outline: 0.2rem solid #ffffff;
        
    }

}
.auth-main-input-label {
    color:white;
    visibility: visible;
    display: block;
    font-size: 1.5rem;
    align-self: start;
    padding-left: .5em;
    padding-right: .5em;
    position: relative;
    transform: translate(0.3rem, 30%);
    width: max-content;
    background-image: linear-gradient(to top, #0000 0 calc(50% - 2px), rgba(255, 255, 255, 0) calc(60% - 10px));
}


.auth-flex-container {
    font-size:small;
    flex: 1 0 auto;
    
}
.auth-form button {
    margin-top: 1.5rem;
    font-size:x-large;
}
.auth-span-row {
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
}
.auth-form input[type="checkbox"] {
    
    vertical-align: middle;
}

.auth-form input[type="checkbox"] {
    
    vertical-align: middle;
}

#auth-span-space {
    position:absolute;
    right: 0%;
}


