*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


html {
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

body {
    box-sizing: border-box;
    background-color: $color-black;
    overflow: hidden;
}

a {
    color: $color-black;
}